**Very first step: import the modules and packages used in this notebook**

In [1]:
# import pandas under the alias "pd"
import pandas as pd

# Exercise 08

* Task 1: Getting familiar with pandas
* Task 2: Read in a csv file without using pandas

# Task 1: Getting familiar with pandas

Together with this notebook, you are provided the file `oil.csv`, with data provided by [UNdata](http://data.un.org/Explorer.aspx?d=EDATA&f=cmID%3aCR). It contains data on crude oil exports across all countries. For each of the subtasks below, you will find instructions in the code cells. Each of the code cell instructions can be solved by **1-2 lines of code**!

* Task 1a: Read in & explore the data
* Task 1b: Clean the data
* Task 1c: Access parts of the data
* Task 1d: Zoom in on a subset & explore the data
* Task 1e: Write your manipulated data set to a file

## Task 1a: Read in and explore the data

In [2]:
# read in with pandas
pd.read_csv("oil.csv")

,Country or Area,Commodity - Transaction,Year,Unit,Quantity,Quantity Footnotes
0,Albania,Conventional crude oil - exports,2021.0,"Metric tons, thousand",547.800,NaN
1,Albania,Conventional crude oil - exports,2020.0,"Metric tons, thousand",577.320,NaN
2,Albania,Conventional crude oil - exports,2019.0,"Metric tons, thousand",631.216,NaN
3,Albania,Conventional crude oil - exports,2018.0,"Metric tons, thousand",582.789,NaN
4,Albania,Conventional crude oil - exports,2017.0,"Metric tons, thousand",488.000,NaN
...,...,...,...,...,...,...
2370,Yemen Arab Rep. (former),Conventional crude oil - exports,1990.0,"Metric tons, thousand",8058.000,1.0
2371,"Yugoslavia, SFR (former)",Conventional crude oil - exports,1991.0,"Metric tons, thousand",0.000,NaN
2372,"Yugoslavia, SFR (former)",Conventional crude oil - exports,1990.0,"Metric tons, thousand",0.000,NaN
2373,fnSeqID,Footnote,NaN,NaN,NaN,NaN
2374,1,Estimate,NaN,NaN,NaN,NaN

In [5]:
# display the first 10 rows
df = pd.read_csv("oil.csv")
df.head(10)

,Country or Area,Commodity - Transaction,Year,Unit,Quantity,Quantity Footnotes
0,Albania,Conventional crude oil - exports,2021.0,"Metric tons, thousand",547.800,NaN
1,Albania,Conventional crude oil - exports,2020.0,"Metric tons, thousand",577.320,NaN
2,Albania,Conventional crude oil - exports,2019.0,"Metric tons, thousand",631.216,NaN
3,Albania,Conventional crude oil - exports,2018.0,"Metric tons, thousand",582.789,NaN
4,Albania,Conventional crude oil - exports,2017.0,"Metric tons, thousand",488.000,NaN
5,Albania,Conventional crude oil - exports,2016.0,"Metric tons, thousand",888.000,NaN
6,Albania,Conventional crude oil - exports,2015.0,"Metric tons, thousand",987.000,NaN
7,Albania,Conventional crude oil - exports,2014.0,"Metric tons, thousand",1007.220,NaN
8,Albania,Conventional crude oil - exports,2013.0,"Metric tons, thousand",1167.000,NaN
9,Albania,Conventional crude oil - exports,2012.0,"Metric tons, thousand",920.070,NaN

In [7]:
# display the last 8 rows
df.tail(8)

,Country or Area,Commodity - Transaction,Year,Unit,Quantity,Quantity Footnotes
2367,Yemen,Conventional crude oil - exports,1993.0,"Metric tons, thousand",8327.0,NaN
2368,Yemen,Conventional crude oil - exports,1992.0,"Metric tons, thousand",6153.0,NaN
2369,Yemen,Conventional crude oil - exports,1991.0,"Metric tons, thousand",7028.0,NaN
2370,Yemen Arab Rep. (former),Conventional crude oil - exports,1990.0,"Metric tons, thousand",8058.0,1.0
2371,"Yugoslavia, SFR (former)",Conventional crude oil - exports,1991.0,"Metric tons, thousand",0.0,NaN
2372,"Yugoslavia, SFR (former)",Conventional crude oil - exports,1990.0,"Metric tons, thousand",0.0,NaN
2373,fnSeqID,Footnote,NaN,NaN,NaN,NaN
2374,1,Estimate,NaN,NaN,NaN,NaN

In [8]:
# display the names of the columns
df.columns

Index(['Country or Area', 'Commodity - Transaction', 'Year', 'Unit',
       'Quantity', 'Quantity Footnotes'],
      dtype='object')

In [9]:
# display the data types in the columns
df.dtypes

Country or Area             object
Commodity - Transaction     object
Year                       float64
Unit                        object
Quantity                   float64
Quantity Footnotes         float64
dtype: object

In [11]:
# display the row labels (the index)
df.index

RangeIndex(start=0, stop=2375, step=1)

In [12]:
# how many rows does the data set have?
len(df.index)

2375

In [13]:
# display the summary statistics for this dataset
df.describe

<bound method NDFrame.describe of                Country or Area           Commodity - Transaction    Year  \
0                      Albania  Conventional crude oil - exports  2021.0
1                      Albania  Conventional crude oil - exports  2020.0
2                      Albania  Conventional crude oil - exports  2019.0
3                      Albania  Conventional crude oil - exports  2018.0
4                      Albania  Conventional crude oil - exports  2017.0
...                        ...                               ...     ...
2370  Yemen Arab Rep. (former)  Conventional crude oil - exports  1990.0
2371  Yugoslavia, SFR (former)  Conventional crude oil - exports  1991.0
2372  Yugoslavia, SFR (former)  Conventional crude oil - exports  1990.0
2373                   fnSeqID                          Footnote     NaN
2374                         1                          Estimate     NaN

                        Unit  Quantity  Quantity Footnotes
0     Metric tons,  thousand   547.800                 NaN
1     Metric tons,  thousand   577.320                 NaN
2     Metric tons,  thousand   631.216                 NaN
3     Metric tons,  thousand   582.789                 NaN
4     Metric tons,  thousand   488.000                 NaN
...                      ...       ...                 ...
2370  Metric tons,  thousand  8058.000                 1.0
2371  Metric tons,  thousand     0.000                 NaN
2372  Metric tons,  thousand     0.000                 NaN
2373                     NaN       NaN                 NaN
2374                     NaN       NaN                 NaN

[2375 rows x 6 columns]>

## Task 1b: Clean the data 
In this task, we will remove not needed columns, and all rows where we have missing values. Then, we will convert some of the columns into a different data type.

In [37]:
# remove the columns "Quantity Footnotes" and "Unit"
df.drop(labels=["Quantity Footnotes","Unit"],axis = 1, inplace=True)

In [49]:
# remove rows (if any) where "Country or Area" is not availabe using boolean indexing with ".notna()"
my_condition = df["Country or Area"].isna()
any(my_condition)
#there are no missing values

False

In [52]:
# remove rows (if any) where "Year" is missing
my_condition1 = df["Year"].isna()
any(my_condition1)
df = df[df["Year"].notna()]

In [53]:
# remove rows (if any) where "Quantity" is missing
df = df[df["Quantity"].notna()]

In [55]:
# check whether all the rows of "Commodity - Transaction" contain the same value, 'Conventional crude oil - exports' 
all(df["Commodity - Transaction"]=="Conventional crude oil - exports")

True

In [56]:
# how many rows do we have in our data set now?
len(df)

2373

In [57]:
# change the datatype of the "Year" column to integer
df["Year"]=df["Year"].astype(int)

## Task 1c: Access parts of the data

In [58]:
# display only the "Country or Area" column
df["Country or Area"]

0                        Albania
1                        Albania
2                        Albania
3                        Albania
4                        Albania
                  ...
2368                       Yemen
2369                       Yemen
2370    Yemen Arab Rep. (former)
2371    Yugoslavia, SFR (former)
2372    Yugoslavia, SFR (former)
Name: Country or Area, Length: 2373, dtype: object

In [60]:
# display only the data from the first row of the data set
df.loc[0]

Country or Area                                     Albania
Commodity - Transaction    Conventional crude oil - exports
Year                                                   2021
Quantity                                              547.8
Name: 0, dtype: object

In [63]:
# display the part of the dataset where "Country or Area" is "Costa Rica"
df[df["Country or Area"]=="Costa Rica"]

    Country or Area           Commodity - Transaction  Year   Quantity
536      Costa Rica  Conventional crude oil - exports  2013   0.000000
537      Costa Rica  Conventional crude oil - exports  2012  64.325721
538      Costa Rica  Conventional crude oil - exports  2011   0.000000
539      Costa Rica  Conventional crude oil - exports  2010   0.000000

In [64]:
# display the part of the data set that contains data for the year 2010
df[df["Year"]==2010]

,Country or Area,Commodity - Transaction,Year,Quantity
11,Albania,Conventional crude oil - exports,2010,586.47
28,Algeria,Conventional crude oil - exports,2010,32974.00
60,Angola,Conventional crude oil - exports,2010,85997.00
92,Argentina,Conventional crude oil - exports,2010,2861.00
124,Australia,Conventional crude oil - exports,2010,13661.00
...,...,...,...,...
2214,United Kingdom,Conventional crude oil - exports,2010,36986.00
2246,United States,Conventional crude oil - exports,2010,2054.00
2287,Venezuela (Bolivar. Rep.),Conventional crude oil - exports,2010,104984.00
2319,Viet Nam,Conventional crude oil - exports,2010,8072.00
2350,Yemen,Conventional crude oil - exports,2010,8773.00

In [65]:
# display the part of the data set that contains quantities over 200000 
# (two hundred thousand) (in thousand metric tons, unit of the "Quantity" column); 
# who are the big exporters?
df[df["Quantity"]>200000]
#the big exporters are Russia and Saudi Arabia

         Country or Area           Commodity - Transaction  Year     Quantity
1756  Russian Federation  Conventional crude oil - exports  2021  231600.0000
1757  Russian Federation  Conventional crude oil - exports  2020  239200.0000
1758  Russian Federation  Conventional crude oil - exports  2019  269200.0000
1759  Russian Federation  Conventional crude oil - exports  2018  259830.0000
1760  Russian Federation  Conventional crude oil - exports  2017  252169.0000
1761  Russian Federation  Conventional crude oil - exports  2016  252844.0000
1762  Russian Federation  Conventional crude oil - exports  2015  242733.0000
1763  Russian Federation  Conventional crude oil - exports  2014  222866.0000
1764  Russian Federation  Conventional crude oil - exports  2013  236618.0000
1765  Russian Federation  Conventional crude oil - exports  2012  239964.0000
1766  Russian Federation  Conventional crude oil - exports  2011  244490.0000
1767  Russian Federation  Conventional crude oil - exports  2010  243260.0000
1768  Russian Federation  Conventional crude oil - exports  2009  248899.0000
1769  Russian Federation  Conventional crude oil - exports  2008  243098.0000
1770  Russian Federation  Conventional crude oil - exports  2007  258579.0000
1771  Russian Federation  Conventional crude oil - exports  2006  248445.0000
1772  Russian Federation  Conventional crude oil - exports  2005  252587.0000
1773  Russian Federation  Conventional crude oil - exports  2004  257624.0000
1774  Russian Federation  Conventional crude oil - exports  2003  227856.0000
1786        Saudi Arabia  Conventional crude oil - exports  2021  309427.3000
1787        Saudi Arabia  Conventional crude oil - exports  2020  335109.6000
1788        Saudi Arabia  Conventional crude oil - exports  2019  350529.0000
1789        Saudi Arabia  Conventional crude oil - exports  2018  363997.0000
1790        Saudi Arabia  Conventional crude oil - exports  2017  352804.0000
1791        Saudi Arabia  Conventional crude oil - exports  2016  371785.0000
1792        Saudi Arabia  Conventional crude oil - exports  2015  357171.9500
1793        Saudi Arabia  Conventional crude oil - exports  2014  356672.8100
1794        Saudi Arabia  Conventional crude oil - exports  2013  375945.0000
1795        Saudi Arabia  Conventional crude oil - exports  2012  370327.0000
1796        Saudi Arabia  Conventional crude oil - exports  2011  351154.0000
1797        Saudi Arabia  Conventional crude oil - exports  2010  288813.0000
1798        Saudi Arabia  Conventional crude oil - exports  2009  294854.0000
1799        Saudi Arabia  Conventional crude oil - exports  2008  356295.0000
1800        Saudi Arabia  Conventional crude oil - exports  2007  342940.0000
1801        Saudi Arabia  Conventional crude oil - exports  2006  350365.0000
1802        Saudi Arabia  Conventional crude oil - exports  2005  359312.0000
1803        Saudi Arabia  Conventional crude oil - exports  2004  339584.0000
1804        Saudi Arabia  Conventional crude oil - exports  2003  342871.9931
1805        Saudi Arabia  Conventional crude oil - exports  2002  293307.0000
1806        Saudi Arabia  Conventional crude oil - exports  2001  300847.0000
1807        Saudi Arabia  Conventional crude oil - exports  2000  311673.0000
1808        Saudi Arabia  Conventional crude oil - exports  1999  305169.0000
1809        Saudi Arabia  Conventional crude oil - exports  1998  339077.0000
1810        Saudi Arabia  Conventional crude oil - exports  1997  325499.0000
1811        Saudi Arabia  Conventional crude oil - exports  1996  313898.0000
1812        Saudi Arabia  Conventional crude oil - exports  1995  323224.0000
1813        Saudi Arabia  Conventional crude oil - exports  1994  320373.0000
1814        Saudi Arabia  Conventional crude oil - exports  1993  326247.0000
1815        Saudi Arabia  Conventional crude oil - exports  1992  328066.0000
1816        Saudi Arabia  Conventional crude oil - exports  1991  325295.0000
1817        Saudi Arabia  Conventional crude oil - exports  1990  241742.0000

In [69]:
# display the row in the data set that shows how much oil 
# (in thousand metric tons, unit of the "Quantity" column)
# Denmark exported in 2020 
df[(df["Year"]==2020) & (df["Country or Area"]=="Denmark")]

    Country or Area           Commodity - Transaction  Year  Quantity
645         Denmark  Conventional crude oil - exports  2020  1089.145

In [71]:
# display the part of the data set that shows export quantities over 30 000 
# (thirty thousand) for the year 1990
# (in thousand metric tons, unit of the "Quantity" column)
df[(df["Year"]==1990) & (df["Quantity"]>30000)]

,Country or Area,Commodity - Transaction,Year,Quantity
1007,Indonesia,Conventional crude oil - exports,1990,33820.0
1038,Iran (Islamic Rep. of),Conventional crude oil - exports,1990,110000.0
1069,Iraq,Conventional crude oil - exports,1990,78159.0
1182,Kuwait,Conventional crude oil - exports,1990,32620.0
1239,Libya,Conventional crude oil - exports,1990,54300.0
1344,Mexico,Conventional crude oil - exports,1990,69631.0
1495,Nigeria,Conventional crude oil - exports,1990,74892.0
1531,Norway,Conventional crude oil - exports,1990,66602.0
1563,Oman,Conventional crude oil - exports,1990,31193.0
1817,Saudi Arabia,Conventional crude oil - exports,1990,241742.0
2202,United Arab Emirates,Conventional crude oil - exports,1990,93611.0
2234,United Kingdom,Conventional crude oil - exports,1990,54022.0
2268,USSR (former),Conventional crude oil - exports,1990,108551.0
2307,Venezuela (Bolivar. Rep.),Conventional crude oil - exports,1990,65154.0

In [73]:
# Which countries did not export any oil in 2017?
# (display the subset of the dataframe) 
df[(df["Year"]==2017) & (df["Quantity"]==0)]

,Country or Area,Commodity - Transaction,Year,Quantity
275,Bolivia (Plur. State of),Conventional crude oil - exports,2017,0.0
1144,Kenya,Conventional crude oil - exports,2017,0.0
1496,North Macedonia,Conventional crude oil - exports,2017,0.0

## Task 1d: Zoom in on a subset & explore the data

From now on, we will work with only a **subset** of the data set, looking only at the **most recent year** for which data is availabe. Make sure that you create a copy of the dataframe that you used until now, using the `.copy()` method, so that our manipulations of the subset data frame will not affect the original data frame.

In [77]:
# copy the part of the data set for the MOST RECENT year into a separate data frame 
# called oilXXXX (XXXX standing for the most recent year)
max(df["Year"])
oil2021=df[df["Year"]==2021].copy()

2021

In [86]:
# what is the TOTAL quantity of exported oil? (summed over all countries)
# save the value to a variable called total_exports
total_export = sum(oil2021["Quantity"])
print(total_export)

1203622.2712843972

In [82]:
# sort the rows by descending value of "Quantity" 
# (i.e. the first row should contain the biggest exporter, etc.)
# make sure that you don't just *display* the sorted dataframe, but actually 
# *change* the dataframe into a sorted-by-quantity one
oil2021.sort_values(by = "Quantity",ascending=False)

,Country or Area,Commodity - Transaction,Year,Quantity
1786,Saudi Arabia,Conventional crude oil - exports,2021,309427.300000
1756,Russian Federation,Conventional crude oil - exports,2021,231600.000000
391,Canada,Conventional crude oil - exports,2021,158229.761000
2235,United States,Conventional crude oil - exports,2021,146840.100000
1500,Norway,Conventional crude oil - exports,2021,78436.822000
1313,Mexico,Conventional crude oil - exports,2021,54053.000000
49,Angola,Conventional crude oil - exports,2021,52305.856100
1532,Oman,Conventional crude oil - exports,2021,38688.100000
473,Colombia,Conventional crude oil - exports,2021,31785.000000
2203,United Kingdom,Conventional crude oil - exports,2021,30349.154000
676,Ecuador,Conventional crude oil - exports,2021,16323.685000
113,Australia,Conventional crude oil - exports,2021,12216.443000
876,Ghana,Conventional crude oil - exports,2021,7916.550000
178,Bahrain,Conventional crude oil - exports,2021,7449.000000
740,Equatorial Guinea,Conventional crude oil - exports,2021,7073.000000
423,Chad,Conventional crude oil - exports,2021,6400.000000
2308,Viet Nam,Conventional crude oil - exports,2021,3130.000000
81,Argentina,Conventional crude oil - exports,2021,3077.000000
2053,Trinidad and Tobago,Conventional crude oil - exports,2021,3062.337000
1588,Papua New Guinea,Conventional crude oil - exports,2021,1000.000000
644,Denmark,Conventional crude oil - exports,2021,855.000000
2021,Thailand,Conventional crude oil - exports,2021,804.760000
1433,New Zealand,Conventional crude oil - exports,2021,588.000000
0,Albania,Conventional crude oil - exports,2021,547.800000
1401,Netherlands,Conventional crude oil - exports,2021,315.540000
249,Belgium,Conventional crude oil - exports,2021,192.200000
1678,Poland,Conventional crude oil - exports,2021,180.628000
1084,Italy,Conventional crude oil - exports,2021,174.026000
952,Hungary,Conventional crude oil - exports,2021,134.000000
2145,Ukraine,Conventional crude oil - exports,2021,90.000000
1651,Philippines,Conventional crude oil - exports,2021,86.300000
889,Greece,Conventional crude oil - exports,2021,85.057000
781,France,Conventional crude oil - exports,2021,76.208000
196,Barbados,Conventional crude oil - exports,2021,47.517730
1741,Romania,Conventional crude oil - exports,2021,34.000000
1240,Lithuania,Conventional crude oil - exports,2021,26.700000
250,Belize,Conventional crude oil - exports,2021,10.496454
1183,Kyrgyzstan,Conventional crude oil - exports,2021,6.000000
1849,Slovakia,Conventional crude oil - exports,2021,4.771000
1878,Slovenia,Conventional crude oil - exports,2021,0.159000

In [89]:
# add a new column called "perc" to the dataframe; in this column,
# compute, for each country, what percentage of total_exports 
# their exported quantity translates to.
oil2021["perc"] = 100*df["Quantity"]/total_export

In [91]:
# display the first 10 rows one more time: now you should see what are the biggest 10 exporters in the most recent year?
#oil2021.head

In [ ]:
# for a country of your choice that is not on the "top 10", 
# find out what is their percentage of total exports?
# (just display the row for that country)

In [ ]:
# find out which country exported the most, and which country exported the least;
# what is the ratio (proportion) of the biggest vs. smallest export quantity?

## Task 1e: Write your manipulated data set to a file

Write the data set from the previous file (with data only on the most recent year; and with the added column containig percentages) to a file.

In [ ]:
# write to csv with the help of pandas (you don't need to write the row labels (index) to the file)

In [ ]:
# read back into a variable called "df" in & display the first 10 rows to check

# Task 2: Reading in a csv without pandas (advanced!)

Let's try to read in the same data set `oil.csv` without pandas, using only `.reader()` from the built-in `csv` module. 

* the data set should be read into a dictionary `oil_dict`
* the keys of `oil_dict` should correspond to the column names of `oil.csv` (for example, `Year` should be a dictionary key)
* the values of `oil_dict` should contain the data from the corresponding column as a list (for example, the value of the key `Year` should contain a list `[2021, 2020, 2019, ....]`)

Steps to a **possible** solution: (there are many ways to solve this task!)

1. import the built-in module `csv`; 
2. create a "context" in which the csv file is opened (`with open()`... etc)
3. within the "context", use the `csv.reader()` iterator to read in the file
4. iterate over the return value of `csv.reader()` (using a for loop or list comprehension), the output should be a list of lists (where each item is a row in the csv file)
5. use the column names to create dictionary keys, & store the data from the corresponding column in the corresponding dictionary value (the built-in function `enumerate()` and list comprehension can help!)
6. you may ignore the lines that appear to have less than 6 columns

In [ ]:
# Step 1: import the csv module

In [ ]:
# Step 2: create a context to open the file

In [ ]:
# ...